{% extends "base.html" %}

{% block jumbotron_inner %}

<h2>Please log in</h2>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Your username and password didn't match. Please try again.
</div>
{% endif %}

<form class="form-inline" method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.username.label_tag }}</label>
        <input type="text" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" class="form-control" placeholder="Username" autofocus="autofocus">
    </div>
    <div class="form-group">
        <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label_tag }}</label>
        <input type="password" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>

{% endblock %}
