"""
Django local site-specific settings for ticketus project.
This must be placed in a module called ticketus_settings as local_settings.py
"""

DEBUG = False

ADMINS = (
    ('Name', 'email'),
)

# See https://docs.djangoproject.com/en/1.7/ref/settings/#databases for details.
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'ticketus',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',     # leave blank
        'PORT': '',     # leave blank
    }
}

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
# If DEBUG is True, localhost will automatically be added to this list.
ALLOWED_HOSTS = []

# Make this unique, and don't share it with anybody. The longer, the more random the better.
SECRET_KEY = ''

# The full path to the virtualenv that Ticketus is installed in.
BASE_DIR = None
