{% extends "base.html" %}

{% load staticfiles %}

{% block extra_css %}
<link href="{% static "css/ticket.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    $('table#tickets tr.link').click(function() {
        window.location = $(this).find('a').attr('href');
    }).hover( function() {
        $(this).toggleClass('hover');
    });
});
</script>
{% endblock %}

{% block jumbotron_wrapper %}
{% endblock %}

{% block body %}

<div class="row">
    <table class="table table-hover" id="tickets">
        <thead>
            {% if filter and filter_label and filter_name %}
            <tr>
                <th colspan="4">
                    <div class="tags">
                        <p>Showing tickets {{ filter_label }} <span class="badge"><span class="glyphicon glyphicon-{{ filter_name }}"></span> {{ filter }}</span></p>
                    </div>
                </th>
            </tr>
            {% endif %}
            <tr>
                <th>ID</th>
                <th></th>
                <th>Title</th>
                <th>Created by</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr class="link">
                <td><a href="{{ ticket.get_absolute_url }}">{{ ticket.id }}</a></td>
                <td><span class="badge" title="{{ ticket.comment_set.count }} comment{% if ticket.comment_set.count != 1 %}s{% endif %}">{{ ticket.comment_set.count }}</span></td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.requester }}</td>
                <td>{{ ticket.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav class="text-center">
        <ul class="pagination">
            {% if tickets.has_previous %}
                <li><a href="?page={{ previous_page }}" aria-label="Previous" title="Go to previous page"><span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}
            {% for page_num in pages %}
                <li{% if page_num == tickets.number %} class="active"{% endif %}><a href="?page={{ page_num }}" title="Go to page {{ page_num }}">{{ page_num }} <span class="sr-only">(current)</span></a></li>
            {% endfor %}
            {% if tickets.has_next %}
                <li><a href="?page={{ next_page }}" aria-label="Next" title="Go to next page"><span aria-hidden="true">&raquo;</span></a></li>
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
</div>

{% endblock %}
