.jumbotron {
    margin-bottom: 0;
    padding: 20px 0 40px 0;
}

.ticket-meta {
    margin-bottom: 30px;
}

.comments .panel {
    margin-bottom: 0;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #5bc0de;
}

.comment-join {
    height: 30px;
}

.border-left {
    border-left: 1px solid #eee;
}

.hover {
    cursor: pointer;
}

table#tickets {
    margin-top: 30px;
}
