{% load staticfiles %}
<script src="{% static "js/markdown.min.js" %}"></script>
<script src="{% static "js/comment_preview.js" %}"></script>

<div class="row">
    <div role="tabpanel">
        <div id="new-comment">
            <h4>Write a new comment</h4>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#comment-tab" aria-controls="comment-tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> Write comment</a></li>
                        <li role="presentation"><a href="#preview-tab" aria-controls="preview-tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-eye-open"></span> Preview</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="comment-tab">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" rows="11" id="comment-text" oninput="this.editor.update()"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="preview-tab">
                            <div id="preview-html"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
