{% load staticfiles %}
<script src="{% static "js/markdown.min.js" %}"></script>
<script src="{% static "js/comment_preview.js" %}"></script>

<div class="row">
    <div role="tabpanel">
        <div id="new-comment">
            <h3>Write a new comment</h3>
            {% if user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#comment-tab" aria-controls="comment-tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> Write comment</a></li>
                        <li role="presentation"><a href="#preview-tab" aria-controls="preview-tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-eye-open"></span> Preview</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="comment-tab">
                            <form method="post" action="{% url 'post_new_comment' ticket_id=ticket.id %}">{% csrf_token %}
                                <div class="form-group">
                                    <textarea required class="form-control" rows="11" name="raw_text" id="comment-text" oninput="this.editor.update()"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="preview-tab">
                            <div id="preview-html"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p>Please log in to post a comment.</p>
            <a href="{% url 'account_login' %}?next={{ ticket.get_absolute_url }}#new-comment" class="btn btn-primary">Log in</a>
            {% endif %}
        </div>
    </div>
</div>
